<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');onClose()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    
        <div>  
            <mat-form-field class="full-width">
              <mat-label>Nume</mat-label>
              <input matInput [(ngModel)]="customField.name" id="inputName">
            </mat-form-field>
        </div>          

    </div>
    <div class="modal-footer">
      <button pButton type="button" label="Salvează" class="ui-button-success" (click)="onSave()"></button>
    </div>
  </ng-template>

  <p-toast position="top-left" [baseZIndex]="700000"></p-toast>