.hidden-table {
    padding-top: 14px;
    padding-bottom: 14px;
}

.mat-column-delete img {
    width: 70% !important;
    cursor: pointer;
}
  
.mat-column-delete button {
    background: white;
    padding: 0;
}
  
.mat-column-delete {
    width: 4.5%;
}
  
.mat-column-edit img {
    width: 70% !important;
    cursor: pointer;
}
  
.mat-column-edit button {
    background: white;
    padding: 0;
}
  
.mat-column-icon button {
    background: white;
    padding: 0;
}

.mat-column-edit {
    width: 2.5%;
}

.mat-column-icon {
    width: 7%;
}