.list-group span {
    background: #34A835;
}

.list-group li {
    cursor: pointer;
}

.group-row {
    border: 1px solid #C0C0C0;
    padding: 10px;
}

.badge-primary {
    margin-top: 3px !important;
}

.group-row button {
    background: white;
    padding: 0;
}

.group-row img {
    width: 22px;
    cursor: pointer;
}
