.text-container {
    text-align: center;
}

.text-container pre {
    display: inline;
}

* {
    box-sizing: border-box;
}
  
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}