<div style="text-align: center;">
    <br>
    <h3>Liderul autentic</h3> George Cornici

    <div class="row">
        <div class="column">
            <pre>
        Un lider bun i-un slujitor
        Ce-şi ştie bine-nsărcinarea
        El Îl cunoaşte pe Mântuitor
        Cu care are-asemănarea.
        
        El ştie bine că-n lucrare
        Sunt greutăţi şi încercări.
        Dar e-animat de consacrare,
        De dragoste şi-ncredinţări.
        
        Este ghidat în tot ce face
        De Logosul ce S-a-ntrupat
        Voind pe toți să îi împace
        Cu El, cu Mielul cel junghiat
        
        El are-un scop ce-i mai presus
        De interese personale
        Știe că viața e urcuș
        Împodobit cu osanale
        
        Un lider bun nu dă înapoi
        Când vine valu-mpotrivirii
        Ci stă, mereu, printre eroi
        Chiar şi în focul prigonirii...
        
        Amenințările ce vin
        Le stinge doar cu rugăciune
        De-acolo curge și alin
        Şi pace și înțelepciune.
        
        
    </pre>
        </div>
        <div class="column">
            <pre>
        De gustă critici și dispreț
        El totuși are mângâiere
        Căci știe-adevăratul preț
        Al slujbei care i se cere.
        
        Iubirea lui e altruistă
        E ferm în faptă și în grai
        În focul luptei el rezistă,
        Având privirea doar spre Rai..
        În fiinţa lui e viziune
        Curată e purtarea lui.
        Nu poate da amărăciune...
        O, nimănui, o, nimănui!
        
        E bun, milos și iertător
        E modelat de Cartea Sfântă
        Chiar în necaz devastator
        Se bucură și vesel cântă.
        
        Cei ce-l ascultă-s consolați
        Mesajul lui e-ntotdeauna
        Un ghid pentru surori și frați
        Să poată înfrunta furtuna.
        
        Acesta-i liderul de care
        Se folosește Dumnezeu 
        El merge fără de-ncetare
        Neabătut pe-al Lui traseu.
        </pre>
        </div>
    </div>
</div>